*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 1px 0px 1px #42424267;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
/* body{
    background: linear-gradient(180deg, #ffffff, #ffffff, #ffd9c4d8);
} */
header{
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dddddd;
    position: sticky;
    top: -2px;
    left: 0;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 0px 15px;
}
nav{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left p, .left p strong{
    color: #e75b5b;
}
.left p span{
    color: #6c6c6c;
}

.mid{
    text-align: center;
}
.mid a{
    line-height: 25px;
}
.mid a i{
    color: #ea6e6e;
    font-size: 26px;
}
.mid a strong{
    color: #ea6e6e;
    font-size: 26px;
    letter-spacing: 6px;
}
.mid a span{
    font-size: 18px;
    font-weight: 500;
    color: #000000a0;
}

.right a{
    font-size: 18px;
    color: #2e3b43de;
    font-weight: 500;
}
.right a i{
    font-size: 22px;
    padding: 0px 5px;
    color: #ea6e6e;
}


.mySlides {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    height: 100%;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #565656;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.product-section{
    max-width: 1150px;
    margin: 3% auto;
}
.product{
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
}
.t-head span{
    color:#d74040;
}
.product-img{
    margin-top: 3%;
}
.product-img #img-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-img #img-1 img{
    border-top: 2px solid #ea6e6ea8;
    border-left: 2px solid #ea6e6ea8;
    box-shadow: 0px 0px 1px #565656;
}
.product-img #img-1 h2{
    color: #d74040bc;
    font-size: 35px;
}
.product-img .mob-scrn{
    display: none;
}
.product-img #img-1 h2 span{
    color: #000000ae;
}

.product-img .row-2{
    margin-top: 3%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.product-img .image{
    margin: 10px 10px;
    box-shadow: 0px 0px 1px #565656;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    animation: border 8s linear infinite;
}
.product-img .image:hover{
    box-shadow: 0px 0px 6px #d74040;
}
.product-img .row-2 .image img{
    width: 75%;
    height: 180px;
}
.product-img h3{
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    padding-bottom: 5px;
}
.more{
    margin-top: 5%;
}
.more a{
    font-size: 18px;
    border: 2px solid #d74040;
    background-color: #d74040;
    box-shadow: 0px 0px 2px #565656;
    padding: 10px 12px;
    color: #fff;
    font-weight: 500;
    transition: all .3s;
    border-radius: 5px;
    animation: backg 2s step-start infinite;
}
@keyframes backg {
    50%{
        background: transparent;
        color: #d74040;
    }
}
.more a:hover{
    background-color: transparent;
    color: #d74040;
}

.pipe-banner{
    width: 100%;
    background: url(/img/pvc-conduit-pipes-banner.jpg) no-repeat center center/cover;
    text-align: center;
    margin-top: 5%;
}
.pipe-banner .pipe-head{
    background-color: #00000098;
}
.pipe-banner h3{
    color: #ef5a5a;
    font-size: 55px;
    padding: 75px 0px;
    text-shadow: 1px 0px 1px #000;
}
.pipe-banner h3 span{
    color: #ffffff;
}


.brand{
    max-width: 1100px;
    margin: 4% auto;
    padding: 15px;
}
.brands-img{
    width: 98%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 4% auto;
}
.image-1:hover{
   box-shadow: 0px 0px 8px #6c6c6c;
}
.image-1{
    height: 200px;
    padding-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #5c5c5cee;
    transition:  all .5s;
}
.image-1 img{
    width: 70%;
    height: 80%;
    padding: 25px;
    transition: all .3s;
}
.image-1 img:hover{
    padding: 12px;
}

.banner-2 img{
    width: 100%;
    box-shadow: 0px -1px .5px #9d9d9d3e;
}

footer{
    margin-top: 4%;
    background: url(/img/footer-img.png) no-repeat center center/cover;
    background-color: #150c0c;
    box-shadow: 0px -1px .5px #9d9d9d83;
}
.ft-bg{
    background-color: #150c0cea;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    max-width: 1250px;
    margin: auto;
}
.logo a{
    line-height: 25px;
}
.logo a i{
    color: #ff6262;
    font-size: 30px;
}
.logo a strong{
    color: #ff6262;
    font-size: 30px;
    letter-spacing: 6px;
}
.logo a span{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}
.para p{
    font-size: 18px;
    padding: 10px 0px;
    font-family:serif;
    color: #ffdddd;
    text-shadow: 1px 0px 1px #565656;
}
.address p{
   color: white;
   font-size: 18px;
   line-height: 30px;
}
.ft-end{
    background-color: #000;
    text-align: center;
}
.ft-end p{
    color: #fff;
    padding: 15px 0px;
}

/* Responsive CSS here */

@media screen and (max-width: 1024px) {
    .mySlides img{
        height: 420px;
    }
    .product-img #img-1 img{
        width: 65%;
    }
}

@media screen and (max-width: 850px) {
    .mySlides img{
        height: 360px;
    }
    .product-img #img-1 img{
        width: 60%;
    }

    .mid a i{
        font-size: 22px;
    }
    .mid a strong{
        font-size: 22px;
    }
    .mid a span{
        font-size: 16px;
    }

    .product-img #img-1 h2{
        font-size: 28px;
    }
    .product-img .row-2{
        padding: 0px 40px;
    }
    .product-img .row-2 .image img{
        width: 60%;
        height: 160px;
    }
    .more{
        margin-top: 6%;
    }
    .more a{
        font-size: 16px;
    }
    
    .pipe-banner{
        margin-top: 8%;
    }
    .pipe-banner h3{
        font-size: 45px;
        padding: 60px 0px;
    }

    .logo a i{
        font-size: 26px;
    }
    .logo a strong{
        font-size: 26px;
    }
    .logo a span{
        font-size: 20px;
    }
    .para p{
        font-size: 16px;
    }
    .address p{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .left{
        display: none;
    }
    nav{
        padding: 12px 20px;
    }
    .mid a{
        line-height: 15px;
    }
    .mid a i{
        font-size: 20px;
    }
    .mid a strong{
        font-size: 20px;
    }
    .mid a span{
        font-size: 15px;
    }
    .right a{
        font-size: 16px;
    }
    .right a i{
        font-size: 20px;
    }

    .mySlides img{
        height: 210px;
    }
    .dot {
        height: 8px;
        width: 8px;
    }

    .t-head h2{
        font-size: 20px;
    }
    .product-img #img-1{
        display: block;
    }
    .product-img #img-1 img{
        width: 95%;
    }
    .product-img #img-1 h2{
       display: none;
    }
    .product-img .mob-scrn{
        display: block;
        font-weight: 400;
    }

    .product-img .row-2{
        padding: 0px;
    }
    .product-img .row-2 .image img{
        width: 55%;
        height: 100px;
    }
    .product-img .row-2{
        margin-top: 3%;
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
    .product-img h3{
        font-size: 15px;
    }

    .pipe-banner h3{
        font-size: 26px;
        padding: 42px 10px;
    }

    .banner-2 img{
        width: 100%;
        height: 16vh;
        box-shadow: 0px -1px .5px #9d9d9d3e;
    }
    .brands-img{
        width: 95%;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: 4% auto;
    }
    .image-1{
        height: 180px;
        padding-top: 40px;
    }
    .image-1 img{
        width: 50%;
        height: 70%;
        padding: 20px;
    }

    .footer-section{
        display: block;
        padding: 25px 20px;
    }
    .logo a{
        line-height: 18px;
    }
    .logo a i{
        font-size: 20px;
    }
    .logo a span{
        font-size: 18px;
    }
    .para p{
        padding-top: 5px;
        font-size: 16px;
    }

    .address{
        margin-top: 10px;
    }
    .address p{
       font-size: 15px;
       line-height: 24px;
    }

    .ft-end p{
        font-size: 14px;
    }

}

@media screen and (max-width: 390px) {
    nav{
        padding: 10px 10px;
    }
    .mid a i{
        font-size: 18px;
    }
    .mid a strong{
        font-size: 18px;
    }
    .mid a span{
        font-size: 14px;
    }
    .right a{
        font-size: 15px;
    }

    .mySlides img{
        height: 200px;
    }
    .dot {
        height: 7px;
        width: 7px;
    }


    .product{
        padding: 5px;
    }
    .t-head h2{
        font-size: 18px;
    }
    .product-img .row-2{
        grid-gap: 0rem;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
    }
    .product-img .row-2 .image img{
        width: 50%;
        height: 90px;
    }

    .more{
        margin-top: 7%;
    }
    .more a{
        font-size: 15px;
        padding:  8px;
    }
    
    .pipe-banner{
        margin-top: 10%;
    }
    .pipe-banner h3{
        font-size: 38px;
        padding: 40px 0px;
    }

    .logo a i{
        font-size: 18px;
    }
    .logo a strong{
        font-size: 22px;
    }
    .logo a span{
        font-size: 16px;
    }
    .para p{
        font-size: 15px;
    }

    .address p{
       font-size: 14px;
       line-height: 22px;
    }

    .ft-end p{
        font-size: 13px;
    }

}